*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    /* position: relative; */
    font-family: 'Roboto', sans-serif;
    font-size: 1.6em;
}
[id]{
    scroll-margin-top: 84px;
}
@media (min-width: 992px){
    [id]{
        scroll-margin-top: 69px;
    }
}
.hero-shadow{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    z-index: -5;
}
.orange-color{
    color: rgb(255, 102, 0);
}
.navbar-nav a.nav-link.active{
    color: royalblue;
}

.navbar-brand{
    font-size: 2.2rem;
    text-transform: uppercase;
}
.nav-link, .navbar-toggler-icon{
    font-size: 1.8rem;
    text-transform: uppercase;
}
.navbar-toggler{
    padding: 1em 2em;
}
.home{
    position: relative;
    height: 60rem;
    background-image: url("../img/buildings-1850129_640.jpg");
    background-size: cover;
    background-position: center;
    z-index: 0;
}
.home .btn{
    padding: 5px 10px;
    font-size: 1rem;
    border-radius: 5px;
    text-transform: uppercase;
}
.aboutus-box h3{
    font-size: 2.4rem;
    font-weight: 700;
    text-transform: uppercase;
}
.aboutus-icon{
    font-size: 4rem;
}
.accordion-button{
    font-size: 1.8rem;
    padding: 1em;
}
.accordion-button:not(.collapsed){
    background-color: rgb(248, 248, 248);
    color: rgb(233, 106, 22);
}
.team{
    background-color: rgb(248, 248, 248);
}
.team .card-img-top{
    height: 300px;
    object-fit: cover;
}
.team h5{
    font-size: 2rem;
}
.contact h3{
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
}
.contact .submit-form{
    font-size: 1.6rem;
}
.input-group .form-control{
    font-size: 2rem;
}

